{:requested-runs 3, :passed 3, :image-digest "sha256:f1fd311cffb5ee0d47aaea15af674fab6810f47e9e02083612a42c99dfa14d97", :records [{:run 1, :passed? true, :duration-ms 17156} {:run 2, :passed? true, :duration-ms 16434} {:run 3, :passed? true, :duration-ms 16538}], :image "programmable-programming-page:demo", :completed-runs 3, :format-version 1, :created-at "2026-07-16T00:50:48.171159Z", :failed 0}
